
.App {
  font-family: 'Tangerine', serif;
        font-size: 35px;
  display: flex;
  align-items: flex-start;
  align-content: center;
  background-image: url(../src/assets/photo-tree.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgb(253, 192, 230);
  width: 100vw;
  height: 100vh;

}

.QuotesList-Header {
 margin-right: 5rem;
 margin-left: 5rem;
 margin-bottom: 0;
 border-radius: 50px;
 height: 20vh;
}

.QuotesList-Quotes {
  display: flex;
  align-content: flex-start;
  align-items: center;
 height: 10vh;
 text-align: center;
 }

 .QuotesList-Author {
  display: flex;
  align-content: center;
  align-items: center;
 text-align: center;
 color: rgb(138, 2, 66);
 }
 .QuotesList-Wrapper {
   text-align: center;
   margin: 2rem;
 }

 .QuotesList-Button{
   background-color: rgb(228, 104, 135);
   border-radius: 10%;
   padding: 0.5rem;
   
 }