
.App {
  font-family: 'Tangerine', serif;
        font-size: 35px;
  display: flex;
  align-items: flex-start;
  align-content: center;
  background-image: url(../src/assets/photo-tree.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(253, 192, 230);
  width: 100vw;
  height: 100vh;

}

.QuotesList-Header {
 margin: 2rem;
 border-radius: 50px;
}

.QuotesList-Quotes {
  margin-right: 5rem;
  padding-right: 5rem;
  display: flex;
 /* text-align: center; */
 }

 .QuotesList-Author {
  display: flex;
 color: rgb(138, 2, 66);
 margin:3rem
 }
 .QuotesList-Wrapper {
   text-align: center;
   margin: 2rem;
 }

 .QuotesList-Button{
   background-color: rgb(228, 104, 135);
   border-radius: 10%;
   padding: 0.5rem;
   
 }