
.App {
  text-align: center;
  background-image: url(../src/assets/photo-tree.jpg);
  background-position: center ;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgb(253, 192, 230);
  display:flex;
  width: 100vw;
  height: 100vh;
}

.QuotesList-Header {
 margin-right: 5rem;
 margin-left: 5rem;
 padding: 1rem;
 margin-bottom: 0;
 border-radius: 50px
}

.QuotesList-Quotes {
  display: flex;
  align-content: left;
  align-items: center;
 padding: 1rem;
 margin-top: 2rem;
 border-radius: 50px;
 height: 30vh;
 width: 50vw;
 }
 
 .QuotesList-Wrapper {
   text-align: center;
   margin: 2rem;
   border-radius: 50px
 }
